// Styling for the timeline section
.day-agenda {
  padding: 10px 15px 15px 15px;
  h4 {
    text-align: center;
  }
  .agenda-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;

    margin: 10px 0;
    .agenda-item-time {
      flex: 1;
      color: #666;
      text-align: right;
      padding: 0 10px 0 0;
    }
    .agenda-item-desc {
      flex: 3;
      color: #333;
      padding: 0 0 0 10px;
    }
  }
}

@media(min-width:768px) {

}
@media(min-width:992px) {

}
@media(min-width:1200px) {

}
